body{
  height: 2000px;
  padding-top: 130px;
  padding-right: 60px;
  padding-left: 275px;
}
p{
  font-family: Roboto, Arial;
  margin-top: 0;
  margin-bottom: 0;
}

body{
  margin: 0;
}

.banner{

  width: 99.9%;
  margin-bottom: 50px;
}

